[submodule ".submodules/open-relay"]
	path = .submodules/open-relay
	url = git@github.com:kreativekorp/open-relay.git
[submodule ".submodules/UnifontEX"]
	path = .submodules/UnifontEX
	url = git@github.com:stgiga/UnifontEX.git
